* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html {
  font-family: "TTT-Thin", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 10px;
  /*scroll-behavior: smooth;*/
}
body {
  /*cursor: none;*/
  /* cursor: url(../img/icons/Cursor.png), auto; */
  position: relative;
  line-height: 1.2 !important;
  min-height: 100vh !important;
  overflow-x: hidden !important;
  color: var(--color-white);
  background-color: var(--bg-color);
  font-family: var(--font-regular);
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
a,
a:focus,
a:hover {
  outline: 0;
  color: inherit;
  text-decoration: none;
}
a.ul:focus,
a.ul:hover {
  text-decoration: underline;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
  text-decoration: none;
}
.btn:active,
.btn:active {
  box-shadow: none;
}
p {
  font-size: 1.4rem;
}
.text-right {
  text-align: right !important;
}


.expand {
  -webkit-animation: cursorAnim2 0.5s forwards;
  animation: cursorAnim2 0.5s forwards;
}

@keyframes cursorAnim1 {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.8);
  }
}

@keyframes cursorAnim2 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
}
.spiral__svg {
  margin: 0 auto;
}

#spiral {
  fill: none;
  stroke-width: 0.25;
  stroke-linejoin: round;
  stroke-linecap: round;
  animation: spiralSpin 0.2s linear 500 forwards;
}
.spiral__svg g {
  stroke: #666;
  animation: spiralColors 5s linear 20 forwards;
}
@-webkit-keyframes spiralSpin {
  0% {
    d: path(
      "m 105.66043,42.217605 -0.46942,0.05354 m -0.10658,1.400696 -1.11814,0.536451 m 0.77115,1.091386 -1.73252,0.986926 m 1.77279,-0.04996 -2.6387,2.298105 m 2.7095,-1.260018 -3.34828,3.74857 m 3.45155,-2.676132 -3.72583,5.275265 m 3.96835,-4.3994 -3.90679,6.941239 m 4.1569,-6.332562 -3.85872,8.780829 m 4.33787,-7.99851 -3.93665,10.349452 m 4.30898,-9.3362 -3.47839,11.866413 m 4.01674,-10.815065 -3.17472,12.94456 m 4.1176,-12.015406 -2.8424,14.190611 m 3.75284,-13.295827 -2.36707,15.106508 m 3.24694,-14.31281 -1.3612,16.171125 m 2.77731,-15.429095 -0.98512,17.050765 m 2.43935,-16.474739 -0.44485,18.03532 m 2.23492,-17.51663 -5e-5,18.85008 m 1.69482,-18.687464 0.5171,19.652632 m 1.28421,-19.348413 1.36655,20.158898 m 1.1085,-20.22237 2.2521,20.752212 m 0.17124,-20.849338 3.65828,20.995372 m -1.18901,-21.397984 4.7053,20.741497 m -2.31713,-21.619056 5.85488,20.206919 m -3.55576,-21.276081 6.71302,19.947679 m -4.41394,-21.01683 7.22554,18.544228 m -5.22653,-20.015822 8.19007,17.61187 m -6.36692,-19.245923 8.7229,16.577906 m -6.91653,-18.606367 8.68118,15.63308 m -7.4941,-17.490032 9.31211,14.136793 m -7.93076,-16.177312 9.08112,13.114008 m -8.0709,-15.401383 9.21042,11.888769 m -8.4782,-14.373096 9.25479,11.157395 m -8.74561,-13.389745 9.20083,10.308053 m -8.92655,-12.907196 8.82662,9.36162 m -8.81951,-11.968348 8.44479,8.682359 m -8.84205,-11.340527 8.23414,7.778328 m -8.77172,-10.487757 7.86971,7.295343 m -9.19542,-10.547042 8.28536,7.637995 m -9.85393,-10.660254 7.83721,6.774486 m -10.15072,-10.048648 7.35105,5.870751 m-10.5 -9.5 0 0"
    );
  }
  100% {
    d: path(
      "m 106.37003,40.767157 -0.43318,-0.04575 m -0.27642,1.496198 -0.46942,0.05354 m -0.10658,1.400696 -1.11814,0.536451 m 0.77115,1.091386 -1.73252,0.986926 m 1.77279,-0.04996 -2.6387,2.298105 m 2.7095,-1.260018 -3.34828,3.74857 m 3.45155,-2.676132 -3.72583,5.275265 m 3.96835,-4.3994 -3.90679,6.941239 m 4.1569,-6.332562 -3.85872,8.780829 m 4.33787,-7.99851 -3.93665,10.349452 m 4.30898,-9.3362 -3.47839,11.866413 m 4.01674,-10.815065 -3.17472,12.94456 m 4.1176,-12.015406 -2.8424,14.190611 m 3.75284,-13.295827 -2.36707,15.106508 m 3.24694,-14.31281 -1.3612,16.171125 m 2.77731,-15.429095 -0.98512,17.050765 m 2.43935,-16.474739 -0.44485,18.03532 m 2.23492,-17.51663 -5e-5,18.85008 m 1.69482,-18.687464 0.5171,19.652632 m 1.28421,-19.348413 1.36655,20.158898 m 1.1085,-20.22237 2.2521,20.752212 m 0.17124,-20.849338 3.65828,20.995372 m -1.18901,-21.397984 4.7053,20.741497 m -2.31713,-21.619056 5.85488,20.206919 m -3.55576,-21.276081 6.71302,19.947679 m -4.41394,-21.01683 7.22554,18.544228 m -5.22653,-20.015822 8.19007,17.61187 m -6.36692,-19.245923 8.7229,16.577906 m -6.91653,-18.606367 8.68118,15.63308 m -7.4941,-17.490032 9.31211,14.136793 m -7.93076,-16.177312 9.08112,13.114008 m -8.0709,-15.401383 9.21042,11.888769 m -8.4782,-14.373096 9.25479,11.157395 m -8.74561,-13.389745 9.20083,10.308053 m -8.92655,-12.907196 8.82662,9.36162 m -8.81951,-11.968348 8.44479,8.682359 m -8.84205,-11.340527 8.23414,7.778328 m -8.77172,-10.487757 7.86971,7.295343 m -9.19542,-10.547042 8.28536,7.637995 m -9.85393,-10.660254 7.83721,6.774486 m -10.15072,-10.048648 7.35105,5.870751"
    );
  }
}
@keyframes spiralSpin {
  0% {
    d: path(
      "m 105.66043,42.217605 -0.46942,0.05354 m -0.10658,1.400696 -1.11814,0.536451 m 0.77115,1.091386 -1.73252,0.986926 m 1.77279,-0.04996 -2.6387,2.298105 m 2.7095,-1.260018 -3.34828,3.74857 m 3.45155,-2.676132 -3.72583,5.275265 m 3.96835,-4.3994 -3.90679,6.941239 m 4.1569,-6.332562 -3.85872,8.780829 m 4.33787,-7.99851 -3.93665,10.349452 m 4.30898,-9.3362 -3.47839,11.866413 m 4.01674,-10.815065 -3.17472,12.94456 m 4.1176,-12.015406 -2.8424,14.190611 m 3.75284,-13.295827 -2.36707,15.106508 m 3.24694,-14.31281 -1.3612,16.171125 m 2.77731,-15.429095 -0.98512,17.050765 m 2.43935,-16.474739 -0.44485,18.03532 m 2.23492,-17.51663 -5e-5,18.85008 m 1.69482,-18.687464 0.5171,19.652632 m 1.28421,-19.348413 1.36655,20.158898 m 1.1085,-20.22237 2.2521,20.752212 m 0.17124,-20.849338 3.65828,20.995372 m -1.18901,-21.397984 4.7053,20.741497 m -2.31713,-21.619056 5.85488,20.206919 m -3.55576,-21.276081 6.71302,19.947679 m -4.41394,-21.01683 7.22554,18.544228 m -5.22653,-20.015822 8.19007,17.61187 m -6.36692,-19.245923 8.7229,16.577906 m -6.91653,-18.606367 8.68118,15.63308 m -7.4941,-17.490032 9.31211,14.136793 m -7.93076,-16.177312 9.08112,13.114008 m -8.0709,-15.401383 9.21042,11.888769 m -8.4782,-14.373096 9.25479,11.157395 m -8.74561,-13.389745 9.20083,10.308053 m -8.92655,-12.907196 8.82662,9.36162 m -8.81951,-11.968348 8.44479,8.682359 m -8.84205,-11.340527 8.23414,7.778328 m -8.77172,-10.487757 7.86971,7.295343 m -9.19542,-10.547042 8.28536,7.637995 m -9.85393,-10.660254 7.83721,6.774486 m -10.15072,-10.048648 7.35105,5.870751 m-10.5 -9.5 0 0"
    );
  }
  100% {
    d: path(
      "m 106.37003,40.767157 -0.43318,-0.04575 m -0.27642,1.496198 -0.46942,0.05354 m -0.10658,1.400696 -1.11814,0.536451 m 0.77115,1.091386 -1.73252,0.986926 m 1.77279,-0.04996 -2.6387,2.298105 m 2.7095,-1.260018 -3.34828,3.74857 m 3.45155,-2.676132 -3.72583,5.275265 m 3.96835,-4.3994 -3.90679,6.941239 m 4.1569,-6.332562 -3.85872,8.780829 m 4.33787,-7.99851 -3.93665,10.349452 m 4.30898,-9.3362 -3.47839,11.866413 m 4.01674,-10.815065 -3.17472,12.94456 m 4.1176,-12.015406 -2.8424,14.190611 m 3.75284,-13.295827 -2.36707,15.106508 m 3.24694,-14.31281 -1.3612,16.171125 m 2.77731,-15.429095 -0.98512,17.050765 m 2.43935,-16.474739 -0.44485,18.03532 m 2.23492,-17.51663 -5e-5,18.85008 m 1.69482,-18.687464 0.5171,19.652632 m 1.28421,-19.348413 1.36655,20.158898 m 1.1085,-20.22237 2.2521,20.752212 m 0.17124,-20.849338 3.65828,20.995372 m -1.18901,-21.397984 4.7053,20.741497 m -2.31713,-21.619056 5.85488,20.206919 m -3.55576,-21.276081 6.71302,19.947679 m -4.41394,-21.01683 7.22554,18.544228 m -5.22653,-20.015822 8.19007,17.61187 m -6.36692,-19.245923 8.7229,16.577906 m -6.91653,-18.606367 8.68118,15.63308 m -7.4941,-17.490032 9.31211,14.136793 m -7.93076,-16.177312 9.08112,13.114008 m -8.0709,-15.401383 9.21042,11.888769 m -8.4782,-14.373096 9.25479,11.157395 m -8.74561,-13.389745 9.20083,10.308053 m -8.92655,-12.907196 8.82662,9.36162 m -8.81951,-11.968348 8.44479,8.682359 m -8.84205,-11.340527 8.23414,7.778328 m -8.77172,-10.487757 7.86971,7.295343 m -9.19542,-10.547042 8.28536,7.637995 m -9.85393,-10.660254 7.83721,6.774486 m -10.15072,-10.048648 7.35105,5.870751"
    );
  }
}

@-webkit-keyframes spiralColors {
  0% {
    stroke: var(--color-main);
  }
  50% {
    stroke: var(--color-light-2);
  }
  100% {
    stroke: var(--color-main);
  }
}
@keyframes spiralColors {
  0% {
    stroke: #666;
  }
  50% {
    stroke: var(--color-main);
  }
  100% {
    stroke: #666;
  }
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.flex--wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  -moz-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.flex--wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}
.flex > .flex-1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 50%;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex > .flex__grow-1 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.flex > .flex__grow-2 {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -moz-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}
.flex > .flex__grow-100 {
  -webkit-box-flex: 100;
  -webkit-flex-grow: 100;
  -moz-box-flex: 100;
  -ms-flex-positive: 100;
  flex-grow: 100;
}
.grid {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
}
.vh-100--min {
  min-height: 100vh;
}
section {
  position: relative;
}
.text--title {
  display: inline-block;
  font-size: 2.4rem;
  margin: 0 auto 2rem;
  color: var(--color-light);
  font-weight: 100;
  font-family: var(--font-roman);
}
.subtitle__block {
  overflow: hidden;
  position: relative;
  padding-left: 6rem;
}
.subtitle--line {
  position: absolute;
  height: 0.1rem;
  width: 5rem;
  left: 0;
  top: 0;
  margin-top: 0.5rem;
  background: var(--color-light-1);
}
.text--subtitle {
  font-size: 1.5rem;
  margin: 0 auto 1.5rem;
  color: var(--color-light-1);
  font-family: var(--font-medium);
}
.text--desc {
  font-size: 1.3rem;
  margin: 0 auto 1rem;
  color: var(--color-light-1);
  font-family: var(--font-regular);
}
span.ti-cursor {
    color: #eed256 !important;
    /*background: #eed256;*/
}
